<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880771204155-g4bpmuonajetq4hhg8k8scg94uctlmhq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880771204155-g4bpmuonajetq4hhg8k8scg94uctlmhq</string>
	<key>API_KEY</key>
	<string>AIzaSyAJYH5Co5luNqbV0SYov-3fOWoxq2k7QEk</string>
	<key>GCM_SENDER_ID</key>
	<string>880771204155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mondaytest</string>
	<key>PROJECT_ID</key>
	<string>test-d6cb4</string>
	<key>STORAGE_BUCKET</key>
	<string>test-d6cb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880771204155:ios:e507d0cf9bccd2e914481e</string>
</dict>
</plist>